@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}

nav {
    font-size: 16px;
    color: #fff;
    background-color: rgb(0, 85, 0);
    height: 20%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 6px 0 10px rgba(0,0,0,0.8);
    border-radius: 0 0 15px 15px;
}

nav img {
    position: relative;
    display: flex;
    height: 3em;
    right: 0;
    top: -0.6em;
}

nav ul {
    list-style: none;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    padding-top: 1em;
}

nav ul i {
    position: relative;
    display: flex;
    font-size: 2em;
    top: -0.1em;
}