#escolinha{
    font-size: 1.2em;
}

#equipe{
    box-shadow: -1px 4px 13px 8px rgba(0, 0, 0, 0.2);
}


.abas {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
  font-weight: bold;

}

.botoes-abas {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.aba {
  background-color: rgba(0, 85, 0);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s ease;
  font-weight: bold;
  
}

.aba:hover, .aba.ativa {
  background-color: #007f2d;
}

.conteudo-aba {
  display: none;
  animation: fade 0.3s ease;
}

.conteudo-aba.ativo {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 12px;
  border: solid rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

th {
  background-color: rgba(0, 85, 0);
  color: #fff;
}
